body {
  margin: 0;
  padding: 0;
  font-family: "Product-Sans";
}

@font-face {
  font-family: "Product-Sans";
  src: url("../fonts/Product Sans Regular.ttf");
}

p {
  font-family: "Product-Sans";
}

.intro-banner {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #141414;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.intro-banner__svg {
  margin: auto;
  fill: transparent;
  -webkit-animation: intro-banner__name__fill 1s ease forwards 3.2s;
          animation: intro-banner__name__fill 1s ease forwards 3.2s;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

@media only screen and (max-width: 420px) {
  .intro-banner__svg--desk {
    display: none;
  }
}

@media only screen and (min-width: 420px) {
  .intro-banner__svg--mobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .intro-banner__svg {
    width: 70%;
  }
}

.intro-banner__svg svg {
  width: 400px;
}

@media only screen and (min-width: 1000px) {
  .intro-banner__svg svg {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .intro-banner__svg svg {
    width: 100%;
  }
}

.intro-banner__svg__path:nth-child(1) {
  stroke-dasharray: 429px;
  stroke-dashoffset: 429px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.2s;
          animation: intro-banner__name__animate 2s ease forwards 1.2s;
}

.intro-banner__svg__path:nth-child(2) {
  stroke-dasharray: 388px;
  stroke-dashoffset: 388px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1s;
          animation: intro-banner__name__animate 2s ease forwards 1s;
}

.intro-banner__svg__path:nth-child(3) {
  stroke-dasharray: 389px;
  stroke-dashoffset: 389px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.6s;
          animation: intro-banner__name__animate 2s ease forwards 1.6s;
}

.intro-banner__svg__path:nth-child(4) {
  stroke-dasharray: 198px;
  stroke-dashoffset: 198px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.2s;
          animation: intro-banner__name__animate 2s ease forwards 1.2s;
}

.intro-banner__svg__path:nth-child(5) {
  stroke-dasharray: 204px;
  stroke-dashoffset: 204px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.8s;
          animation: intro-banner__name__animate 2s ease forwards 1.8s;
}

.intro-banner__svg__path:nth-child(6) {
  stroke-dasharray: 464px;
  stroke-dashoffset: 464px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1s;
          animation: intro-banner__name__animate 2s ease forwards 1s;
}

.intro-banner__svg__path:nth-child(7) {
  stroke-dasharray: 331px;
  stroke-dashoffset: 331px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.2s;
          animation: intro-banner__name__animate 2s ease forwards 1.2s;
}

.intro-banner__svg__path:nth-child(8) {
  stroke-dasharray: 513px;
  stroke-dashoffset: 513px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1s;
          animation: intro-banner__name__animate 2s ease forwards 1s;
}

.intro-banner__svg__path:nth-child(9) {
  stroke-dasharray: 388px;
  stroke-dashoffset: 388px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.3s;
          animation: intro-banner__name__animate 2s ease forwards 1.3s;
}

.intro-banner__svg__path:nth-child(10) {
  stroke-dasharray: 206px;
  stroke-dashoffset: 206px;
  -webkit-animation: intro-banner__name__animate 2s ease forwards 1.5s;
          animation: intro-banner__name__animate 2s ease forwards 1.5s;
}

.intro-banner h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
}

.intro-banner p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
}

@-webkit-keyframes intro-banner__name__animate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes intro-banner__name__animate {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes intro-banner__name__fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

@keyframes intro-banner__name__fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
/*# sourceMappingURL=style.css.map */